header {
    color: black;
    font-size: 8vmin;
    font-family: cursive;
    letter-spacing: 1vmin;
    background-color: aqua;
    text-align: center;
}

h1 {
    color: rgb(63, 213, 158);
    background-color: aliceblue;
    font-size: 4vmin;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    color: maroon;
    font-size: 4vmin;
    font-family: sans-serif;
    background-color: lightgray;
    text-align: center;
}

body {
   background-color: rgb(157, 108, 241);
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

footer {
    font-size: 2.5vmin;
    text-align: center;
    display: flex;
    padding-left: 50vmin;
    padding-right: 50vmin;
    padding-top: 5vmin;
    padding-bottom: 3vmin;
}

.flip-card {
    /*display: grid;*/
    background-color: transparent;
    height:100%;
    width:100%;
    border: 0.1vmin;
    perspective: 165vmin;
}

.flip-card-inner {
    display: grid;
    height: 100%;
    width: 100%;
    position:relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    display:grid;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

img {
    display: grid;
    height: 15vmin;
    width: 10vmin;
    border: 0.2vmin;
}

.flip-card-front {
    display: grid;
    height: 15vmin;
    width: 15vmin;
    border: 0.2vmin;
}

.flip-card-back {
    display: grid;
    height: 15vmin;
    width: 15vmin;
    border: 0.2vmin;
    transform: rotateX(180deg);
}

/*  to design the rows & columns */
#board {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(3, 15vmin);
    gap: 1.5vmin;
    margin-top: auto;
}

button {
    margin-top: 6vmin;
    font-size: 3vmin;
    border: 0.06vmin solid black;
    border-radius: 3vmin;
    padding: 2.2vmin;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

/*.matched {
    transform: rotateX(180deg);
    pointer-evts: none;
}*/




